{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"inline-json-import",
		"@babel/plugin-transform-runtime", 
		[
			"istanbul",
			{
				"include": ["src/**/**.js"],
				"exclude": ["**/mocks/**"]
			}
		]
	],
	"ignore": [
		"**/*.usfm.js"
  ]
}